<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Py Bot</title>
</head>
<style>

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}
</style>
<body>
<h1 style="color: #5e9ca0; text-align:center">Hello {{ name }}, I'm&nbsp;<span style="color: #2b2301;">PyBot!</span></h1>

<h2>Insert your MiBand MAC Address</h2>
<form action="/connect" method="post">
    <input type="text" name="macAddress"/>
    <button name="submitButton" type="submit">Connect</button>
</form>

<br />
<br />
<br />
<br />
<br />

<form action="/logout">
    <input type="submit" value="Logout" />
</form>

</body>
</html>