<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Py Bot</title>
    <meta http-equiv="refresh" content="30" >
</head>
<style>

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}
</style>
<body>
<h1 style="color: #5e9ca0; text-align:center">Hello {{ name }}, I'm&nbsp;<span style="color: #2b2301;">PyBot!</span></h1>

<h2 style="color: #2e6c80;">Your fitness data:</h2>
<table>
    <tbody>
    <tr>
        <td>Steps</td>
        <td>{{ steps }}</td>
    </tr>
    <tr>
        <td>Calorie Burned</td>
        <td>{{ calorie }}</td>
    </tr>
    <tr>
        <td>Meters</td>
        <td>{{ meters }}</td>
    </tr>
    <tr>
        <td>Heart Rate</td>
        <td>{{ heart_rate }}</td>
    </tr>
    </tbody>
</table>

<br />
<br />
<br />
<br />
<br />

<form action="/logout">
    <input type="submit" value="Logout" />
</form>

</body>
</html>