<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Py Bot</title>
</head>
<style>

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}
</style>
<body>
<h1 style="color: #5e9ca0; text-align:center">Hello I'm&nbsp;<span style="color: #2b2301;">PyBot!</span></h1>

<h2>Login</h2>
<form action="/login_server" method="post">
    username: <input type="text" name="username"/> <br /><br />
    password: <input type="password" name="password"/> <br /><br />
    <span style="color: red;">{{ message }}</span> <br /><br />
    <button name="submitButton" type="submit">Connect</button>
</form>

</body>
</html>